.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}
.wrapper {
	position: relative;
}
.searchInput {
	width: 20rem;
	height: 2rem;
	padding: 0 1rem;
	border-radius: 2rem;
	border: none;
	transition: transform 0.1s ease-in-out;
}

.searchInput:focus {
	outline: none;
	transform: scale(1.1);
	transition: all 0.1s ease-in-out;
}
.searchInputIcon {
	z-index: 10;
	position: absolute;
	right: 0.8rem;
	top: 0.5rem;
	color: #a1a1a1;
	transition: all 0.1s ease-in-out;
}
.container:focus-within > .wrapper > .searchInputIcon {
	right: 0.2rem;
}
